* {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

a {
    text-decoration: none;
}

.opn:hover .pingpmah {
    transform: scale(1);
    transition: all 0.8s;
}

.pingpmah {
    transform: scale(0.8);
    transition: all 0.6s;
}

.aaa_lpdasd {
    height: 2px;
    background: #ccc;
    position: relative;
    width: 100%;
}

.aaa_lpdasd1 {
    width: 0;
    height: 2px;
    background: #90af6b;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.6s;
}

.opn:hover .aaa_lpdasd1 {
    width: 100%;
    transition: all 0.6s;
}

.opn:hover .aaa_qiandasd span {
    color: #90af6b;
}

.opn:hover .aaa_tt1 a {
    color: #90af6b;
}

.dndsahdsa {
    height: 39px;
    margin-top: 20px;
}

.dndsahdsa a {
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 2px;
    border-color: #90af6b;
    background-color: #90af6b;
    color: #fff;
}

.kkjkaa {
    height: 115px;
    line-height: 28px;
    font-size: 14px;
}

.ooplr {
    width: 648px;
    float: right;
    padding: 50px;
    box-sizing: border-box;
}

.oopll {
    width: 521px;
    height: 274.4px;
    float: left;
}

.oopll img {
    width: 100%;
    height: 100%;
}

.lmnbza {
    height: 294.4px;
    margin-bottom: 0;
    border-radius: 0px;
    border-top: 10px solid rgba(255, 255, 255, 1);
    border-bottom: 10px solid rgba(255, 255, 255, 1);
    border-left: 10px solid rgba(255, 255, 255, 1);
    border-right: 10px solid rgba(255, 255, 255, 1);
    color: #808080;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
}

.xiaob {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    display: block;
}

.xiaoa {
    font-family: 微软雅黑;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    padding: 0 0 5px 0;
    display: block;
    padding: 0 0 5px 0;
}

.heueqq {
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 15px;
    padding-left: 0;
    text-align: center;
}

.knaadffsdaa {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
    min-height: 30px;
}

.aaa_dasa {
    width: 100%;
    min-height: 660px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-image: url('https://ccdn.goodq.top/caches/9b69daffc17579b848483c854813cad2/aHR0cHM6Ly81Y2RkM2FhNWM0NmVhLnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDUvYTMxNGNjMzEzM2JhMGRkOTE2NTA0NmYwYTZjMDlmZjcuanBn.jpg');
    position: relative;
    padding: 110px 0 40px;
    box-sizing: border-box;
}

.aaasp {
    width: 150px;
    height: 60px;
}

.aaasp img {
    width: 100%;
    height: 100%;
}

.aaa_lp {
    width: 15.766667%;
    height: 60px;
    float: left;
    margin-bottom: 10px;
    padding-right: 10px;
}

.aaa_flow {
    padding: 0 40px;
    overflow: hidden;
}

.aaa_box {
    max-width: 1280px;
    margin: 0px auto;
    padding-top: 50px;
}

.logss {
    width: 100%;
    height: 170px;
}

.logssone {
    width: 15%;
    height: 200px;
    line-height: 200px;
    padding-top: 40px;
    padding-left: 60px;
    box-sizing: border-box;
    float: left;
}

.logssone img {
    width: 150px;
    height: 60px;
}

.aaa_hha a {
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-width: 2px;
    border-color: #90af6b;
    background-color: #90af6b;
    color: #fff;
}

.aaa_hha {
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 9px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.aaa_paa span {
    width: 100%;
    font-family: 微软雅黑;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    color: #232323;
    padding: 0 0 5px 0;
    display: block;
    padding: 0 0 5px 0;
}

.aaa_xicha {
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: center;
}

.aaa_qiandasd {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

.aaa_qiandasd span {
    color: #555555;
    font-size: 16px;
    font-family: sans-serif;
}

.aaa_tt1 {
    padding-bottom: 15px;
    font-weight: normal;
    color: #555555;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
    width: 100%;
    /* border-bottom: 1px solid #555; */
}

.aaa_tt1 a {
    color: #555555;
    font-size: 16px;
    line-height: 22px
}

img {
    vertical-align: top;
}

.aaa_tt {
    padding-bottom: 10px;
}

.aaa_tt img {
    width: 100%;
    height: 100%;
}

.opn {
    max-width: 33.27%;
    margin-bottom: 0px;
    border-bottom: 1px solid transparent;
    padding: 15px;
    animation-delay: 0.2s;
    animation-name: qfyfadeInUp;
    visibility: visible;
    float: left;
    box-sizing: border-box;
}

.aaa_op {
    box-sizing: border-box;
    float: left;
}

.aaa_ooa {
    max-width: 1220px;
    padding: 40px 10px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
}

.aaaneei {
    min-height: 40px;
    background-color: #f7f7f7;
}

a {
    color: #878787;
}

* {
    margin: 0;
    padding: 0;
}

.aaalbt1 {
    width: 100%;
    height: 100%;
}

.aaalbt1 img {
    width: 100%;
    height: 100%;
}

img {
    vertical-align: top;
}

.siao img {
    position: relative;
    height: 100%;
}

.siao img {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


}
.dsajdosa {
    width: 710px;
    height: 540px;
    background: #fff;
    padding: 40px 20px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
}
.oopdak {
    left: 50%;
    top: 50%;
    margin-top: -270px;
}
.joasjdas {
    max-width: 1200px;
    padding: 0 5px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 25.6px;
    line-height: 25.6px;
}
.aaa_kakdoas {
    height: 45.6px;
    padding: 10px 0;
    box-sizing: border-box;
    background: #fff;
}
.aaalaaa {
    width: 100px;
    height: 100px;
}
.aaalaaa img {
    width: 100%;
    height: 100%;
}
.aaadsaa {
    text-align: center;
    padding-top: 8px;
}
.aaadsaa span {
    font-size: 14px;
}
.rjrwema {
    float: right;
    padding-right: 18px;
}
.opldsapdsa {
    float: right;
    padding-right: 40px;
}
.topaa {
    line-height: 1.6em;
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 12px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0px;
}
.aaa_dihi {
    width: 316px;
    float: left;
    padding: 0 3px;
    box-sizing: border-box;
}
.aaaguanzhu span {
    color: rgb(93, 93, 93);
    vertical-align: middle;
    font-size: 16px;
}
.aaaguanzhu {
    width: 256.75px;
    height: 64px;
    float: left;
    padding: 0 3px;
    box-sizing: border-box;
}
.aaa_s_c {
    font-family: verdana;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #969696;
    display: block;
    /* vertical-align: bottom; */
}
.aaa_s_d {
    font-family: 微软雅黑;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    padding: 0 0 5px 0;
    display: block;
    padding: 0 0 5px 0;
    /* vertical-align: bottom; */
}
.ylianxi {
    width: 207px;
    height: 56px;
    float: left;
    padding: 0 3px;
    box-sizing: border-box;
}
.aaa_you {
    max-width: 400px;
    padding: 0 5px;
    box-sizing: border-box;
    height: 132.8px;
    overflow: hidden;
    float: right;
}
.aaa_zuo {
    padding: 0 5px;
    box-sizing: border-box;
    height: 110.4px;
    overflow: hidden;
    float: left;
}
.aaa_oopn {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
    height: 192.8px;
    overflow: hidden;
}
.aaa_footer {
    padding-top: 40px;
    width: 100%;
    min-height: 50px;
    background-color: #f3f3f3;
}
.aaa_jsaawr {
    height: 83px;
    line-height: 1.5;
    color: #808080;
    font-size: 14px;
    padding-top: 17px;
}
.aaa_kjhaga {
    height: 24.8px;
    line-height: 24.8px;
    text-align: center;
    color: #808080;
    font-size: 18px;
    padding-top: 17px;
}
.aaa_plousaa img {
    width: 100%;
    height: 100%;
}
.aaa_plousaa {
    width: 360px;
    height: 237px;
}
.aaa_nxv1 {
    max-width: 360px;
    min-height: 400px;
    transition: all 0.35s;
}
.aaa_ladjaos {
    width: 33%;
    padding: 0 5px;
    box-sizing: border-box;
    float: left;
}
.aaa_dasdas {
    padding: 0 40px;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 30px auto 0;
    min-height: 400px;
}
.aaa_weibu {
    height: 566px;
}
.optiomda {
    max-width: 1160px;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    border-bottom: rgba(152, 54, 54, 0.5);
}
a {
    color: #808080;
}
.jodasd {
    line-height: 1.5em;
    padding-top: 22px;
    color: #808080;
    font-size: 16px;
}
.toutsad {
    font-family: 微软雅黑;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    color: #232323;
    padding: 0 0 5px 0;
    display: block;
}
.hjadsa {
    max-width: 1200px;
    margin: 0 auto;
    padding: 56px 5px 0;
    box-sizing: border-box;
    border-radius: 0px;
    border-top: 1px solid rgba(224, 224, 224, 0.5);
    border-bottom: 0px solid rgba(224, 224, 224, 0.5);
    border-left: 0px solid rgba(224, 224, 224, 0.5);
    border-right: 0px solid rgba(224, 224, 224, 0.5);
    text-align: center;
}
.jodsajdas {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
}
.hetea {
    height: 218px;
}
.josadjas {
    max-width: 1280px;
    padding: 0 40px;
    box-sizing: border-box;
    margin: 0 auto;
}
.paodong {
    height: 232px;
    /* background: red; */
}
.koasdas {
    line-height: 1.6em;
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 22px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
    color: #808080;
}
.naaa {
    font-family: 微软雅黑;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    color: #232323;
    padding: 0 0 5px 0;
    text-align: center;
}
.lkdasl {
    height: 80px;
}
.aaa_nskadas {
    width: 100%;
    height: 205px;
    margin-bottom: 15px;
}
.aaa_nskadas img {
    width: 100%;
    height: 100%;
}
.ak1aa {
    height: 234px;
    padding-top: 20px;
    box-sizing: border-box;
}
.kjpoaksao {
    max-width: 1160px;
    padding: 0 10px;
    height: 214px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(224, 224, 224, 0.5);
    box-sizing: border-box;
}
.jkasa {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 15px;
    padding-left: 0;
}
.aaalaaa {
    width: 100px;
    height: 100px;
}
.aaalaaa img {
    width: 100%;
    height: 100%;
}
.aaadsaa {
    text-align: center;
    padding-top: 8px;
}
.aaadsaa span {
    font-size: 14px;
}
.rjrwema {
    float: right;
    padding-right: 18px;
}
.opldsapdsa {
    float: right;
    padding-right: 40px;
}
.topaa {
    line-height: 1.6em;
    background-position: left top;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 12px;
    padding-right: 0;
    padding-left: 0;
    border-radius: 0px;
}
.aaa_dihi {
    width: 316px;
    float: left;
    padding: 0 3px;
    box-sizing: border-box;
}
.aaaguanzhu span {
    color: rgb(93, 93, 93);
    vertical-align: middle;
    font-size: 16px;
}
.aaaguanzhu {
    width: 256.75px;
    height: 64px;
    float: left;
    padding: 0 3px;
    box-sizing: border-box;
}
.aaa_s_c {
    font-family: verdana;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: #969696;
    display: block;
    /* vertical-align: bottom; */
}
.aaa_s_d {
    font-family: 微软雅黑;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    color: #666666;
    padding: 0 0 5px 0;
    display: block;
    padding: 0 0 5px 0;
    /* vertical-align: bottom; */
}
.ylianxi {
    width: 207px;
    height: 56px;
    float: left;
    padding: 0 3px;
    box-sizing: border-box;
}
.aaa_you {
    max-width: 400px;
    padding: 0 5px;
    box-sizing: border-box;
    height: 132.8px;
    overflow: hidden;
    float: right;
}
.aaa_zuo {
    padding: 0 5px;
    box-sizing: border-box;
    height: 110.4px;
    overflow: hidden;
    float: left;
}
.aaa_oopn {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    box-sizing: border-box;
    height: 192.8px;
    overflow: hidden;
}
.aaa_footer {
    padding-top: 40px;
    width: 100%;
    min-height: 50px;
    background-color: #f3f3f3;
}
.aaa_pkj {
    padding: 10px 15px 10px 0;
    height: 50px;
    line-height: 30px;
    text-align: right;
    box-sizing: border-box;
}
.aaa_span {
    display: inline-block;
    margin-right: 10px;
    color: #878787;
    vertical-align: middle;
}
.aaa_span a {
    padding: 5px;
    box-sizing: border-box;
    vertical-align: middle;
}
.y_a {
    font-size: 22px;
}
.y_m {
    font-size: 22px;
}
.y_t {
    font-size: 24px;
}
.y_x {
    font-size: 18px;
}
.aaa_list {
    float: right;
}
.aaa_plp {
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.aaa_list .rjr_li {
    display: inline-block;
    color: #878787;
    padding: 0 6px;
    line-height: 30px;
    box-sizing: border-box;
    text-align: right;
    font-size: 15px;
}
.aaamr2 {
    margin-right: 12px;
}
.aaamar {
    margin: 0 14px;
}
.aaa_logo {
    width: 80px;
    height: 50px;
}
.aaa_logo img {
    width: 100%;
    height: 100%;
}
.rjr_l {
    width: 15%;
    float: left;
    height: 50px;
}
.rjr_z {
    width: 70%;
    float: left;
    height: 50px;
    overflow: hidden;
}
.rjr_r {
    width: 15%;
    float: left;
    height: 50px;
}
.aaaheader {
    width: 100%;
    position: relative;
    z-index: 999;
}
.aaalc {
    width: 100%;
    padding: 15px 40px;
    margin: 0 auto;
    height: 80px;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#vacNum {
    overflow: hidden;
}
.vacN_item {
    float: left;
    width: 25%;
    text-align: center;
    border-left: 1px solid rgba(228, 228, 228, 1);
    box-sizing: border-box;
}
.vacN_item:nth-of-type(1) {
    border-left: none;
}
.vacN_item>p:nth-of-type(1) {
    font-size: 60px;
    font-family: courier new;
    color: #3c3c3c;
}
.vacN_item>p:nth-of-type(2) {
    color: rgb(147, 147, 150);
    font-size: 14px;
    text-align: center;
}
.aaa_nxv1:hover {
    margin-top: -20px;
    transition: all 0.35s;
}